/* src/components/AboutUs.css */
.about-us-page {
  background-color: #f8f8f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-us-content {
  flex-grow: 1;
}

.container-about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.heading-about {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.paragraph-about {
  font-size: 1rem;
  color: #555;
}

/* Add more CSS styles for your About Us content here */
