/* Navbar */
nav {
  background-color: #220e3f;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar > .container {
  max-width: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}

.navbar-toggler {
  background-color: transparent;
  border: none;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  font-size: 18px;
  color: #fff !important;
  transition: color 0.3s;

  &:hover {
    color: #ffffffcd !important;
  }
}

/* Mobile responsiveness adjustments */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  nav {
    background-color: #220e3fea;
  }
}
