/* newsletter.css */
.newsletter {
  background-color: #220e3f;
  color: #fff;
  padding: 60px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff;
}

p {
  font-size: 16px;
  margin-bottom: 30px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="email"] {
  width: 100%;
  padding: 10px 150px 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  outline-color: #fff;
}

button[type="submit"] {
  background-color: #fff;
  color: #220e3f;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #220e3f;
  color: #fff;
  outline: 1px solid #fff;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  .newsletter-form {
    flex-direction: column;
  }

  input[type="email"] {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
