/* Navbar */
nav {
  background-color: #220e3f;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}

.navbar-toggler {
  background-color: transparent;
  border: none;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  font-size: 1.2rem;
  color: #fff !important;
  transition: color 0.3s;

  &:hover {
    color: #ffffffcd !important;
  }
}

/* Mobile responsiveness adjustments */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  nav {
    background-color: #220e3fea;
  }
}

/* Hero */
.hero {
  color: #fff; /* Text color */
  padding: 200px 0;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn-info {
  margin-right: 30px;
}

@media (max-width: 768px) {
  .hero {
    padding: 100px 0;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 125px 10px;
  }
}

/* About */

.about-us {
  background-color: #f8f9fa; /* Background color of the section */
  padding: 80px 0;
}

.about-us h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-us p {
  font-size: 16px;
  margin-bottom: 30px;
}
